body {
  font-family: sans-serif;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}

#lettuce-logo {
  width: 32px;
  height: 32px;
}

.singleViewIcon {
  height: 28px;
  width: 28px;
}

.singlePageButtons {
  display: flex;
}

/* For React-Leafelt-Draw */
.sr-only {
  display: none;
}
.leaflet-container {
  height: 55vh;
}
