body {
  font-family: sans-serif;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}

#lettuce-logo {
  width: 32px;
  height: 32px;
  margin-left: 100px;

#nav-logo {
  height:32px;
  width:32px;
  padding-right: 25px;
}

.nav-title{
  display:flex;

}
